*.class
*.orig
target/
bin/
test-output/
.gradle/
build/
temp/
tmp/
.idea/
*.iws
*.iml
*.ipr
*.ids
/.nb-gradle/
classes
*.log
out/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
